.row-header{
  margin:10px auto;
  padding:10px auto;
}

.row{
  padding: 15px;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #BA2329 ;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: #ffff;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background:#007DDB  ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #BA2329 ;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.col {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
}
